<div id="popover" class="popover gaya-popup-block" data-toggle="gaya-popup-dialog" data-display="0" role="alertdialog" aria-describedby="notification" aria-haspopup="true" data-frequency="{{ elements['content']['#frequency'] }}" data-dateon="{{ elements['content']['#date_on'] }}" data-dateoff="{{ elements['content']['#date_off'] }}" data-popupid="{{ elements['content']['#popupid'] }}" data-closed="{{- elements['content']['#closed'] -}}">
    <a href="#" class="icon icon-close"><span class="sr-only">Fermer la popup de notification</span></a>
    <div id="notification" class="popover-content">
        <i class="icon icon-notifications" aria-hidden="true"></i>
        <div class="message">
            {{ elements['content']['#body']|raw }}
        </div>
    </div>
</div>