{#
/**
 * @file gaya_popup_entity.html.twig
 * Default theme implementation to present Popup Messages Entity data.
 *
 * This template is used when viewing Popup Messages Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_gaya_popup_entity()
 *
 * @ingroup themeable
 */
#}
<div id="popover" class="gaya-popup-block" data-toggle="gaya-popup-dialog"  data-closed="{{ content['field_closed'] }}"   data-frequency="{{ content['field_frequency'] }}" data-display="1" role="alertdialog" aria-describedby="notification" aria-haspopup="true" data-popupid="{{ id }}">
    <a href="#" class="icon icon-close"><span class="sr-only">Fermer la popup de notification</span></a>
    <div id="notification" class="popover-content">
        <i class="icon icon-notifications" aria-hidden="true"></i>
        <div class="message">
            {{ content['field_message'] }}
        </div>
    </div>
</div>